header ul li:nth-of-type(4) {
	text-decoration: overline;
}

img {
	margin: auto;
	width: 50%;
}

h1 {
	margin-left: 5%;
	margin-top: 2%;
}

main ul li {
	margin-left: 10%;
	padding-bottom: 1%;
	list-style-image: url(../Icons/web/Ropa\ de\ karate\ color\ -\ 32.png);
}

main ul li:first-of-type {
	padding-top: 1%;
}

main ul li ul li {
	list-style: circle;
}

main ul li ul li:first-of-type {
	padding-top: 1%;
}
