header ul li:nth-of-type(4) {
	text-decoration: overline;
}

.ImagenesKumite {
	display: flex;
	justify-content: center;
	justify-items: center;
	flex-wrap: wrap;
	gap: 5%;
	margin: auto;
	width: 100%;
	margin-top: 2%;
}

h1 {
	margin-left: 5%;
	margin-top: 2%;
}

main ul li {
	font-size: 18px;
	margin-left: 10%;
	padding-bottom: 1%;
	list-style-image: url(../Icons/web/Ropa\ de\ karate\ color\ -\ 32.png);
}

main ul li:first-of-type {
	padding-top: 1%;
}

main ul li ul li {
	list-style: circle;
}

main ul li ul li:first-of-type {
	padding-top: 1%;
}

.Comprobado li {
	margin-left: 9%;
    font-size: 18px;
    list-style: none; /* quita el marcador original */
    background-image: url(../Icons/Checks/Miniaturas/Comprobado\ 55.jpg);
    background-size: 25px 25px; /* tamaño del icono */
    background-repeat: no-repeat;
    background-position: 0 4px; /* ajusta la posición vertical */
    padding-left: 50px; /* espacio para el icono */
}

.Comprobado li:first-of-type {
	margin-bottom: 0%;
	background-position: 2px;
}

/* --- MEDIA QUERIES --- */

/* Para tables */
@media screen and (max-width: 768px) {

    /* Ajusta el contenedor principal de imágenes */
    .ImagenesKumite {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3%;
        width: 95%;
    }

    .ImagenesKumite img {
        width: 45%;       /* Dos imágenes por fila */
        margin-bottom: 3%;
        border-radius: 8px;
    }

    h1 {
        font-size: 22px;
        margin-left: 4%;
        text-align: center;
    }

    main ul li {
        font-size: 16px;
        margin-left: 8%;
    }

    main ul li ul li {
        font-size: 15px;
        margin-left: 5%;
    }

    .Comprobado li {
        font-size: 16px;
        padding-left: 40px;
        background-size: 20px 20px;
    }
}

/* Para móviles */
@media screen and (max-width: 480px) {

    .ImagenesKumite {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 15px;
    }

    .ImagenesKumite img {
        width: 90%;        /* Ocupa casi todo el ancho del móvil */
        border-radius: 10px;
    }

    h1 {
        font-size: 20px;
        margin-left: 0;
        text-align: center;
        margin-top: 5%;
    }

    main ul li {
        font-size: 15px;
        margin-left: 6%;
        padding-bottom: 3%;
    }

    main ul li ul li {
        font-size: 14px;
        margin-left: 10%;
    }

    .Comprobado li {
        font-size: 15px;
        padding-left: 38px;
        background-size: 18px 18px;
        background-position: 0 3px;
    }

    /* Ajusta los párrafos largos (ya definidos en tus estilos globales) */
    .FormatoParrafo,
    .FormatoParrafo1 {
        width: 95%;
        font-size: 14px;
        margin-top: 4%;
    }
}
