.FormatoParrafo {
	margin: auto;
	width: 90%;
	font-size: 18px;
	text-align: justify;
	margin-top: 2%;
}

.FormatoParrafo1 {
	margin: auto;
	width: 90%;
	font-size: 18px;
	text-align: justify;
	margin-top: 0%;
}
