
header ul li:nth-of-type(3) {
	text-decoration: overline;
}

img {
	margin: auto;
	width: 50%;
}

h1 {
	margin: 2%;
	margin-left: 5%;
	margin-bottom: 0;
}

.FormatoParrafo {
	margin: auto;
	width: 90%;
	font-size: 18px;
	text-align: justify;
	margin-top: 2%;
}

main img {
	display: flex;
	justify-items: center;
	margin-top: 2%;
	border-radius: 10%;
	width: 500px;
}

main ul li {
	margin-left: 9%;
	padding-bottom: 1%;
	font-size: 18px;
}

.FormatoParrafo1 {
	margin: auto;
	width: 90%;
	font-size: 18px;
	text-align: justify;
	margin-top: 0%;
}

h1:last-of-type {
	margin-bottom: 0;
}

main ul li:first-of-type {
	margin-top: 2%;
}

img:last-of-type {
	margin-bottom: 2%;
}